services:
  exam-app-frontend:
    image: thien19012004/exam-app-frontend:latest
    container_name: exam-app-frontend
    ports:
      - "8080:80"
    restart: always
    labels:
      - "traefik.http.routers.exam-app-frontend-secure.rule=Host(`exam-app.lptdevops.website`)"
      - "traefik.http.routers.exam-app-frontend-secure.entrypoints=websecure"
      - "traefik.http.routers.exam-app-frontend-secure.tls=true"
      - "traefik.http.routers.exam-app-frontend-secure.tls.certresolver=leresolver"

      - "traefik.http.routers.exam-app-frontend.rule=Host(`exam-app.lptdevops.website`)"
      - "traefik.http.routers.exam-app-frontend.entrypoints=web"
      - "traefik.http.routers.exam-app-frontend.middlewares=redirect-to-https"  
      - "traefik.http.services.exam-app-frontend.loadbalancer.server.port=80"
    networks:
      - traefik_default

networks:
  traefik_default:
    driver: bridge